<title>Add New Student</title>
    
<div class="p-3 mb-2 bg-success-subtle text-emphasis-success">
    <h1 class="mx-auto p-4" style="width: 400px;">Add New Student</h1>
    <form class="studentForm" class="p-3" style="width: 500px;">
        <label for="firstName" class="fs-4">First Name:</label>
        <input type="text" id="firstName" required><br><br>
        
        <label for="lastName" class="fs-4">Last Name:</label>
        <input type="text" id="lastName" required><br><br>
        
        <label for="userName" class="fs-4">User Name:</label>
        <input type="text" id="userName" required><br><br>
        
        <label for="password" class="fs-4">password:</label>
        <input type="text" id="password" required><br><br>

           <label for="goals" class="fs-4">Number of Goals for the Day:</label>
        <input type="number" id="goals" required><br><br>
        
        <button type="submit" id="generateCredentials"  class="btn btn-success btn-lg ">Save</button>
    </form>
</div>

    <div id="credentials"></div>

    <script src="./scripts/addnewstudent.js"></script>
       
