<div class="container text-center">
        <div class="row">
            <div id="hide" class="col-8">
                {{!-- Empty Div as Placeholder --}}
            </div>
            <div class="col-8 col-lg-4 card">
                <h2>What would you like to do?</h2>
                <a href="/login"><button class="login-form bn632-hover bn22">Login</button></a>
                <a href="/signup"><button class="signup-form bn632-hover bn28">Sign Up</button></a>
            </div>
        </div>
        <!-- End of container -->
    </div>