<div class="text-center">
    <img src="https://i.pinimg.com/736x/06/9a/bf/069abffb5c83be0e9f1b6bd2b01438b2.jpg" alt="placeholder frog" width="150" height="150">
    <h2> Login to get hoppin'!</h2>
</div>
<form class="form login-form container px-5">
    <div class="form-group m-3 p-3">
        <label for="email-login" class="form-label">Email</label>
        <input type="text" class="form-control form-control-lg" id="email-login" autocomplete="on">
    </div>
    <div class="form-group m-3 p-3">
        <label for="password-login">Password</label>
        <input type="password" class="form-input form-control form-control-lg" id="password-login" autocomplete="on">
    </div>
    <div class="form-group text-center">
        <button id="login-btn" type="submit" class="btn btn-warning btn-lg m-3">Login</button>
    </div>
        
</form>

<script src="./scripts/login.js"></script>