<link rel="stylesheet" href="./assets/css/login.css">
<div class="text-center">
    <img src="assets/images/icons/happy frog.png" alt="a happy frog" width="125" height="100">
    <h2> Login to get hoppin'!</h2>
</div>
<form class="form login-form container px-5">
    <div id="error"></div>
    <div class="form-group m-3 p-3">
        <label for="email-login" class="form-label">Email or Username</label>
        <input type="text" class="form-control form-control-lg" id="email-login" autocomplete="on">
    </div>
    <div class="form-group m-3 p-3">
        <label for="password-login">Password</label>
        <input type="password" class="form-input form-control form-control-lg" id="password-login" autocomplete="on">
    </div>
    <div class="form-group m-3 p-3 custom-control custom-checkbox checkbox-lg">
        <input type="checkbox" id="isStudent" class="custom-control-input" name="isStudent" value="true">
        <label  class="custom-control-label" for="isStudent"> I am a student</label><br>
    </div>
    <div class="form-group text-center">
        <button id="login-btn" type="submit" class="btn btn-warning btn-lg m-3 pt-0">Login</button>
    </div>
        
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="./scripts/login.js"></script>