<link rel="stylesheet" href="./assets/css/login.css">
<div class="text-center mt-3">
        <img src="assets/images/icons/frog green.png" alt="green frog" width="125" height="100">
        <h2 class="mt-0"> Sign up </h2>
    </div>
    <form class="form signup-form container px-5">

        <div class="form-group m-3 p-3">
            <label for="firstName-signup">First Name</label>
            <input type="text" class="form-input form-control form-control-lg" id="firstName-signup">
        </div>
        <div class="form-group m-3 p-3">
            <label for="lastName-signup">Last Name</label>
            <input type="text" class="form-input form-control form-control-lg" id="lastName-signup">
        </div>
        
        <div class="form-group m-3 p-3">
            <label for="email-signup">E-mail</label>
            <input type="email" class="form-control form-control-lg" id="email-signup">
        </div>

        <div class="form-group m-3 p-3">
          <label for="password-signup">Password</label>
          <input type="password" class="form-control form-control-lg" id="password-signup">
        </div>
        <div class="form-group text-center">
            <button id="sign-up-btn" type="submit" class="btn btn-warning btn-lg m-3">Enter</button>
        </div>
        
    </form>
</div>


   <!-- Sign Up Script -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
   <script src="./scripts/signup.js"></script>