<div class="text-center mt-3">
        <img src="https://i.pinimg.com/564x/bd/4d/15/bd4d15d59748889e06dd74246cf3669d.jpg" alt="placeholder lilypads" width="175" height="150">
        <h2> Sign up </h2>
    </div>
    <form class="form signup-form container px-5">

        <div class="form-group m-3 p-3">
            <label for="firstName-signup">First Name</label>
            <input type="text" class="form-input form-control form-control-lg" id="firstName-signup">
        </div>
        <div class="form-group m-3 p-3">
            <label for="lastName-signup">Last Name</label>
            <input type="text" class="form-input form-control form-control-lg" id="lastName-signup">
        </div>
        
        <div class="form-group m-3 p-3">
            <label for="email-signup">E-mail</label>
            <input type="email" class="form-control form-control-lg" id="email-signup">
        </div>

        <div class="form-group m-3 p-3">
          <label for="password-signup">Password</label>
          <input type="password" class="form-control form-control-lg" id="password-signup">
        </div>
        <div class="form-group text-center">
            <button id="btn" type="submit" class="btn btn-warning btn-lg m-3">Enter</button>
        </div>
        
    </form>
</div>


   <!-- Sign Up Script -->
   <script src="./scripts/signup.js"></script>