<link rel="stylesheet" href="./assets/css/studentDash.css">

<div class="row">
  <div class="col-auto mb-4">
    <h2>Let's Have A Hoppin Day, {{ student.firstName }}!</h2>
  </div>
</div>

{{!-- Displays Student Goal Number  --}}
<div class="text-center" id="goal"></div>

<div class="container text-center mb-5">
    <div id="mainImgs" class="row align-items-center mt-5 mb-3">
        <div class="col-lg col-sm-12">
            <button id="sad-face" value="no"><img class="mImg" src="assets/images/icons/sad frog.png" alt="frowny face"></button>
        </div>
        <div class="col-lg col-sm-12">
            <div id="goal-2" class="text-center"></div>
        </div>
        <div class="col-lg col-sm-12">
            <button id="happy-face" value="yes"><img class="mImg" src="assets/images/icons/happy frog.png" alt="smiley face"></button>
        </div>
    </div>

    <div id="previous" class="container text-center row align-items-center pt-5 mx-3">
        <img id="small-lily "class="sImg col" src="assets/images/lilypads/lilypad R1.png" alt="previous lilypad">
    </div>
</div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="scripts/studentDash.js"></script>