<h1>Teacher Dashboard</h1>

<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{firstName}}!</h2>
  </div>
</div>

    <div id="studentList"></div>

    
    <!-- button to add new student, directs user to add new student page -->
<form class="addnewstudent">
    <a href=""><button type="submit" id="addnewstudent"  class="btn btn-success btn-lg"  style="width:270px;">Add New Student</button></a>
</form>  

       
<script src="./scripts/teacherview.js"></script>
