/* Put Google fonts here and colors in variables */
:root {
    --print-font: 'Patrick Hand', 'Indie Flower', cursive;
    --title-font: 'Titan One', 'Varela Round', sans-serif;
    --light: '#F2EFEA';
    --red: '#D7263D';
    --blue: '#48ACF0';
    --green: '#57A773';
    --yellow: '#FFBE0B';
    /* font-family: 'Indie Flower', cursive;
font-family: 'Lilita One', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Titan One', cursive;  */
}

/* Put colors here */
body {
    background-color: #57A773;
    font-family: var(--print-font);
}

h1 {
    padding: 3%;
    font-size: 80px;
    color: #F2EFEA;
    font-family: var(--title-font);
}

h2 {
    padding: 3%;
    margin-top: 2%;
    font-size: 60px;
}

.card {
    background-color: #F2EFEA;
}

.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/* Green Button */
.bn632-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn22 {
    background-image: linear-gradient(to right,
            #0ba360,
            #3cba92,
            #30dd8a,
            #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

/* Red Button */
.bn632-hover {
    width: 320px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 40px;
    height: 110px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn28 {
    background-image: linear-gradient(to right,
            #eb3941,
            #f15e64,
            #e14e53,
            #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}

#logout {
    max-width: 20%;
    font-size: xx-large;
    margin-left: 70%;
    margin-top: 0%
}

/* Tablet View */
@media screen and (max-width: 1391px) {
    #hide {
        display: none;
    }
    .card {
        width: fit-content;
        margin-left: 45%;
    }
}

/* Mobile View */
@media screen and (max-width: 759px) {
    h1 {
        padding: 1%;
        font-size: 55px;
    }

    h2 {
        padding: 1%;
        margin-top: 10%;
        font-size: 35px;
    }

    #hide {
        display: none;
    }

    .card {
        width: 100%;
    }

    .bn632-hover {
        width: 160px;
        font-size: 20px;
        font-weight: 600;
        margin: 20px;
        height: 55px;
        text-align: center;
    }

}