/* Water BG image  */
body {
    background-image: url("../images/path_bg_img.png");
    background-color: #48ACF0;
}

/* Main lilypad and text within */
#goal , #goal-2{
    font-size: 170%;
    width: 260px;
    height:250px;
    background-image: url("../images/lilypads/lilypad G1.png");
    background-size: cover;
  }
/* Changes font size of number of goals line*/
  #goal {
    font-size: 200%;
  }

/* Happy/Sad Emotes */
#sad-face, #happy-face{
    background: none;
    border: none;
}

#logout {
    padding:0%;
    margin: 0%;
}

/* Image sizing classes  */
.mImg {
    max-width: 45%;
    min-width: 30%;
}
.sImg {
    max-width: 20%;
    margin-left: 38%;
}

/* Hides title  */
h1 {
    display: none;
}
/* Changes color of "Hoppin' Day" title */
h2 {
    color:white;
    padding: 0%;
    margin: 0%;
}
/* Edits position of Logout button on student view page  */
#logout {
    background-color: #ffffff00;
    margin-left: 80%;
    margin-top: 5%;
}

/* BREAKPOINTS BELOW */
/* TABLETS/MEDIUM DEVICES */
@media screen and (max-width: 1391px) {
    .mImg {
        max-width: 50%;
    }
}


/* MOBILE/SMALL DEVICES */
@media screen and (max-width: 759px) {
   
    #logout{
        margin-left:40%;
        background-color: #ffffff00;
        color: white
    }
   #goal-2 {
        margin-left:25%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .sImg{
        max-width:55%;
        margin-left:20%;
    }
}