/* Water BG image  */
body {
    background-image: url("../images/path_bg_img.png");
    background-color: #48ACF0;
}

/* Main lilypad and text within */
#goal , #goal-2{
    font-size: 170%;
    width: 260px;
    height:250px;
    background-image: url("../images/lilypads/lilypad G1.png");
    background-size: cover;
  }
/* Changes font size of number of goals line*/
  #goal {
    font-size: 200%;
  }

/* Happy/Sad Emotes */
#sad-face, #happy-face{
    background: none;
    border: none;
}

/* Image sizing classes  */
.mImg {
    max-width: 45%;
    min-width: 30%;
}
.sImg {
    max-width: 20%;
    margin-left: 38%;
}

/* Hides title  */
h1 {
    display: none;
}
/* Changes color of "Hoppin' Day" title */
h2 {
    color:white;
}
/* Edits position of Logout button on student view page  */
#logout {
    margin-left: 80%;
    margin-top: 5%;
}