/* Adjusts overall font size  */
*{
    font-size: 115%;
}

/* Adds background image to page */
body {
    background-image: url("../images/homepage img.png");
    background-color: #48ACF0;
    background-position: 0% 75%;
    background-repeat: repeat;
}

/* Hides title  */
h1 {
    display: none;
}

/* Edits "Hello Prof" title color */
h2{
    color:white;
}

/* Edits position of both buttons  */
#logout, #addnewstudent {
    margin-left: 80%;
    margin-top: 5%;
}

/* Changes font size of new student button */
#addnewstudent {
    font-size: 100%;
}

/* Edits position of student div */
.student{
    text-align: right;
    margin-right: 7%;
}

/* Edits color of student name */
h3{
    color:white;
    font-size: 125%;
}

/* BREAKPOINTS BELOW */
/* TABLETS/MEDIUM DEVICES */
@media screen and (max-width: 1123px) {
 
    #addnewstudent{
        margin-left:0%;
        margin-bottom: 3%;
    }
}


/* MOBILE/SMALL DEVICES */
@media screen and (max-width: 920px) {
   
    #logout{
        margin-left:10%;
        background-color: #ffffff00;
        color: #ffd016
    }
    #addnewstudent{
        margin-left:0%;
        margin-bottom: 3%;
    }

    h2{
        font-size: 200%;
        margin-left: 55%
    }
    h3{
        color:#007792;
    }
    #studentList {
        text-align: center;
        background-color: #ffbe0b;
        border-radius: 15px;
        padding: 5%;
    }
    .student{
        text-align: center;
    }
}